*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    min-height: 100vh;
    background-size:auto;
    background-position: center;
}
.container{
    padding: 4px 5%;
}
.logo{
    width: 240px;
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 0%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.navItems li{
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 10px 20px;
    
}
.navItems li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    letter-spacing: 2px;

}

.navItems li:hover a,
.links a:hover{
    color: #a43b7b;
    transition: 0.5s;
}
/* line under Hover effect
.navItems li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;s
    bottom: -6px;
    transition: 0.5s;
}
.navItems li a:hover::after{
    width: 100%;
}
*/

#main{
    padding: 80px 0;
    color: #ababab;
    display: grid;
    place-items: center;
}

.index-col-1 {
    /*bisogna renderlo 
    responsive a seconda della dim schermo*/
    font-size: 25px;
    width: 65%;
}

.index-col-1 h1{
    font-size: 55px;
} 

.index-col-1 p {
    color: #fff;
}
.index-col-1 h1 span{
    color: #ababab;
}
.index-col-1 p:hover,
.index-col-1 h1 span:hover{
    color: #a43b7b;
    transition: 0.6s;
}

.hero-btn{
    position: relative;
    top:20px;
    font-size: medium;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 30px;
    background: transparent;
    cursor: pointer;
    transition: 1s;
    border-radius: 25px;
}
.hero-btn:hover{
    border: 1px solid #a43b7b;
    background: #a43b7b;
}
.index-col-2 img{
    width: 80%;
    margin:-15% 50px;
    cursor: pointer;
}



/*------------About-----------*/

.row{
    display: flex;
    justify-content: space-between;
}
.about-col-1 {
    flex-basis: 50%;
}
.about-col-2 {
    flex-basis: 35%;
}
.about-col-2 img{
    width:90%;
    border-radius: 15px;
}
.about-col-1{
    margin-left: 8%;
}
.about-col-1 img{
    width: 50%;
    align-items: center;
    /*top left bottom*/
    margin: 0 20% 15px;
}

.sub-title{
    color: #a43b7b;
}
.col1-text{
    margin-top: 15px;
    display: flex;
    margin-left: -40px;
    font-size: 17px;
}
.tab-titles{
    display: flex;
    /*top left bottom*/
    margin: 20px -40px 30px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #a43b7b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px -40px;
}

.tab-contents ul li span{
    color: #7b3460;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------------Projects-----------*/

section{
    /*IMP: center all the content inside each section */
    display: grid;
    place-items: center;
    /*if multiple idem in section*/
    align-content: center;
    min-height: 80vh;
}
.sub-title{
    font-size: 40px;
}
.projects-list{
    display: absolute;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 60px;
}
.projects-list h2{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
    font-size: 50px;
}
.projects-list p{
    text-align: center;
    font-size: 18px;
    color: #b7b7b7;
}
.project-1,
.project-2,
.project-3{
    width: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}
.project-1{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(immagini/web-design.jpg);
}
.project-2{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(immagini/graphic.jpg);
    margin-top: 50px;
}
.project-3{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(immagini/photography.jpg);
    margin-top: 50px;
    margin-bottom: 40px;
}

.hidden {   
    min-height: 0vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.3s;
}
/*
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    } 
}
*/
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(-80%);
}
/*------------ Photos -------------*/


/*------------ Contact -------------*/


/*------------ css for medium screens -------------*/
@media only screen and (max-width:915px){
    .logo{
        width: 170px;
        margin-left: 0px;
    }
    .navItems li{
        margin: 10px 15px;
    }
    .navItems li a{
        font-size: 20px;
        position: relative;
        letter-spacing: 0px;
    }
    .index-col-1{
        margin: 0% 0px;
        font-size: 23px; 
    }
    .index-col-1 h1 {
        width: 110%;
        font-size: 50px;
        margin-top: 20px;
    }
    .hero-btn{
        font-size: 20px;
    }
    .index-col-2{
        width: 40%;
        margin-right: 40px;

    }
    .index-col-2 img {
        width: 135%;
        cursor: pointer;
        margin: 0px 0px;
    }
    /*---projects---*/
    .sub-title{
        font-size: 55px;
    }
    .projects-list h2{
        font-size: 57px;
    }
    .projects-list p{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .project-2{
        background-position: left;        
    }
    
}

nav .fa-solid{
    display: none;
}
/*------------ css for small screens -------------*/
@media only screen and (max-width:600px){
    #main{
        padding: 30px 0 ;
    }
    .logo{
        width: 100px;
    }
    /*
    .navItems li{
        margin: 5px 5px;
    }
    .navItems li a{
        font-size: 15px;
        position: relative;
        letter-spacing: 0px;
    }
    */
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    .navItems{
        background: #8e306a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .navItems li{
        display: block;
        margin: 25px;
    }
    .navItems .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .row{
        display: contents;
    }
    .index-col-1{
        margin: 0% 0px 70px;
        font-size: small; /*16px*/
        width: 90%;
        align-items: center;
    }
    .index-col-1 h1 {
        width: 125%;
        font-size: 30px;
        margin-top: 5px;
        margin-left: -2px;
    }
    .hero-btn{
        font-size: 13px;
        top:5px;
        padding: 5px 10px;
    }
    .index-col-2{
        width: 70%;
        margin-right: 0px;

    }
    .index-col-2 img {
        margin: 0px 0px;
    }
    /*about*/
    .tab-titles{
        display: flex;
        margin: 20px -40px 20px;
        font-size: small;
    }
    .tab-contents{
        font-size: 14px;
    }
    .about-col-2{
        margin-top: 30px;
        display: grid;
        place-items: center;
        align-items: center;

    }

    #about-img{
        margin-bottom: 0px;
    }
    .col1-text{
        margin-top: 15px;
        display: flex;
        margin-left: -10px;
        font-size: 15px;
    }

    /*---projects---*/
    .sub-title{
        font-size: 40px;
    }
    .projects-list h2{
        font-size: 30px;
    }
    .projects-list p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .project-2{
        background-position: left;        
    }
    .project-1 h2,
    .project-3 h2{
        font-size: 35px;
    }
}